* {
    margin: 0;
    box-sizing: border-box;
    border: none;
    direction: rtl;
    font-family: sans-serif;
}
/* Header */

.header {
    background-color: rgba(217, 205, 191, 0.8);
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    padding: 20px;

}
.navbar li {
    height: auto;
    width: 272px;
    float: left;
    text-align: center;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: rgba(61,61,61,1);
}

.navbar a{							
padding: 8px 0;
    text-decoration: none;
    color: #59544F;;
    display: block;
        
}
.navbar li:hover, a:hover {
    background-color: rgba(217, 205, 191, 0.8);
}

.navbar li ul{
    display: none;
    height: auto;									
    margin: 0; 
    padding: 0; 
}
                    
.navbar li:hover ul{
    display: block;
}

.navbar li ul li{
    background-color: rgba(217, 205, 191, 0.8)
}
                            
.navbar li ul li a:hover{
    background-color: rgb(163, 125, 92);
    text-decoration: underline;
}

.left-buttons {
    padding-left: 30px;
    margin-left: 35px;
}
.right-buttons > a >  img {
    width: 5.5%;
    float: right;
    padding-top: 5px;
}
.right-buttons {
    padding-right: 30px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
/* Breadcrumb */
nav {
    display: block;
    margin-top: 30px;
    background-color: #ffffff4f;
    font-size: 15px;
}

nav ol li {
    display: inline-block;
}

nav ol li:after{
content: " < ";
}

nav ol li:last-child::after{
    content: "";
}

/* Welcome part */

.welcome {
    overflow: visible;
    width: 100%;
    padding-top: 300px;
}

h1, h2 {
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.notActive {
    cursor:not-allowed;
}
/* Navigation Buttom */

.footerNav{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgba(217, 205, 191);
    padding-top: 19px;
}
.footerNav li {
    display: inline;
}
.footerNav span {
    width: 68px;
    font-size: 25px;
    color: rgba(61,61,61,1);
    padding-left: 134px;
    padding-right: 134px;
    font-weight: bold;
}
.footerNav a {
    text-decoration: none;
}

/* Footer */

.footer {
    height: 77px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding-top: 15px;
    width: 100%;
}



