* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    border: none;
}


/* Header */
.header {
    background-color: rgba(217, 205, 191, 0.8);
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar{
    height: 50px;
    padding: 10px;
    margin: auto;
    position: absolute;
}
.navbar li {
    height: auto;
    width: 272px;
    float: left;
    text-align: center;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: rgba(61,61,61,1);
}

.navbar a{							
padding: 8px 0;
    text-decoration: none;
    color: #59544F;;
    display: block;
        
}
.navbar li:hover, a:hover {
    background-color: rgba(217, 205, 191, 0.8);
}

.navbar li ul{
    display: none;
    height: auto;									
    margin: 0; 
    padding: 0; 
}
                    
.navbar li:hover ul{
    display: block;
}

.navbar li ul li{
    background-color: rgba(217, 205, 191, 0.8)
}
                            
.navbar li ul li a:hover{
    background-color: rgb(163, 125, 92);
    text-decoration: underline;
}

.left-buttons {
    padding-left: 30px;
    margin-left: 35px;
}
.right-buttons > a >  img {
    width: 3.5%;
    float: right;
    padding-top: 5px;
}
.right-buttons {
    padding-right: 30px;
}
/* Welcome part */

.welcome {
    overflow: visible;
    width: 100%;
    padding-top: 300px;
}

h1, h2, h3 {
    color: #59544F;
    text-align: right;
}
h1{
    font-size: 35px;
    color: white;
}
h2{
    font-size: 25px;
}


/* Info */

.title{
    width: 100%;
    height: auto;
    background-color: #8C775E;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 100px;
}

.map{
    background-color: #d9ccbf;
    direction: rtl;
}
.mapBox{
    margin-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px
}

.mapBox li a {
    color: #59544F;
}
.food li, .health li, .place li {
    padding: 0px 0px 5px;
}



/* Navigation Buttom */

.footerNav{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgba(217, 205, 191);
    padding-top: 19px;
}
.footerNav li {
    display: inline;
}
.footerNav span {
    width: 68px;
    font-size: 25px;
    color: rgba(61,61,61,1);
    padding-left: 134px;
    padding-right: 134px;
    font-weight: bold;
}
.footerNav a {
    text-decoration: none;
}

/* Footer */


.footer {
        height: 50px;
        text-align: center;
        background-color: white;
        font-weight: bold;
        padding-top: 20px;
        width: 100%;
}


/* Not active */ 
.notActive {
    color: grey;
    cursor:not-allowed;
}

/* Arrow */
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
